<div class="container">
	<form novalidate class="css-form">
	<div class="row"l>
		<div class="col-xs-12">
		<h4>Registrierung</h4>
		Suche: <input ng-model="query" placeholder="Suchbegriff...">
		</div>
	</div>	
	<div class="row" style="margin-top:20px">
		<div class="col-xs-2">
			ID:
		</div>
		<div class="col-xs-6">
			<input type="integer" class="form-control" ng-model="user.id" required placeholder="ID" />
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-xs-2">
			Vorname:
		</div>
		<div class="col-xs-8">
			<input type="text" class="form-control" ng-model="user.vorname" required placeholder="Vorname"/>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-xs-2">
			Nachname:
		</div>
		<div class="col-xs-8">
			<input type="text" class="form-control" ng-model="user.nachname" required placeholder="Nachname"/>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-xs-2">
			Qualifikation:
		</div>
		<div class="col-xs-8">
			<form name="quali" ng-model="user.quali" required>
		    <select name="singleSelect" ng-model="data.singleSelect">
		    <option value="SH">SH</option>
		    <option value="RH">RH</option>
		 </select><br>
		</div>
	</div>
		<div class="row" style="margin-top:20px">
		<div class="col-xs-2">
			Tak.-Qualifikation:
		</div>
	<div class="col-xs-8">
			<form name="takquali" ng-model="user.takquali" required>
		    <select name="singleSelect" ng-model="data.singleSelect">
		    <option value="ZF">ZF</option>
		    <option value="GF">GF</option>
		    <option value="TF">TF</option>
		 </select><br>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-xs-2">
			HLW-Schein:
		</div>
	<div class="col-xs-8">
			<form name="hlw" ng-model="user.hlw" required>
		    <select name="singleSelect" ng-model="data.singleSelect">
		    <option value="yes">Ja</option>
		    <option value="no">Nein</option>
		 </select><br>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
		<div class="col-xs-12">
			<input type="submit" class="btn btn-success" ng-click="save()" value="Save" />
		</div>
	</div>
	</form>
	<div class="row" style="margin-top:50px">
		<div class="col-xs-12">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>id</th>
						<th>Veranstalter</th>
						<th>Datum</th>
						<th>delete</th>
						<th>update</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="u in users | filter:query">
						<th><input type="text" ng-model="u.id"/></th>
						<th><input type="text" ng-model="u.veranstalter"/></th>
						<th><input type="text" ng-model="u.datum"/></th>
						<th><input type="submit" ng-click="delete(u._id, $index)" value="Delete" /></th>
						<th><input type="submit" ng-click="update(u)" value="update" /></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


